footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 2rem;
}

footer p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.footer-mail {
    color: #3498db;
    text-decoration: none;
}

.footer-mail:hover, .footer-github:hover {
    color: tomato;
}

.footer-madeBy {
    margin-top: 2rem;
}

.footer-madeBy span {
    color: red;
    font-size: 1.2rem;
}
