footer {
    text-align: center;
    padding: 2rem;
    background-color: rgba(139, 69,19, 0.1);
    color: #666;
}

.footer-mail {
    text-decoration: none;
}

footer span {
    color: red;
}

.footer-madeBy {
    margin-top: 1.5rem;
}