header {
    background: url(../assets/images/Picos_Europa.jpg) round;
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0.7rem 1rem;
}

.header-logo img {
    width: 100%;
    height: 15vh;
    border-radius: 50%;
}

header h1 {
    font-size: 3.5rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: red;
}